<br>
<h3 class="w3-container w3-blue col-6">
  Cadastrar Usuário
</h3>
<div class="card w3-container w3-blue col-6"></div>
<div class="card w3-container w3-blue col-6">
  <form class="card-block" (ngSubmit)="salvarUsuario()" *ngIf="! enviado" #formulario="ngForm">
    
    <div class="input-group mb-3">  
        <div class="form-group" [class.has-success]="login.valid" [class.has-danger]="login.invalid">
            <label for="login">Login *</label>
            <input class="form-control" [class.form-control-success]="login.valid" type="text" id="login" 
            [(ngModel)]="usuario.login" name="login" #login="ngModel" placeholder="Login" required>


            <div [hidden]="login.valid || login.pristine">
                    <small [ngClass]="{'form-control-danger': 'login.invalid || login.drity',
                                'form-control-feedback': 'login.invalid || login.drity'}">O login é um campo obrigatório!</small>
                </div>
        </div>
    </div>

      <div class="input-group mb-3">
        <div class="form-group" [class.has-success]="senha.valid" [class.has-danger]="senha.invalid">
            <label for="senha">Senha *</label>
            <input class="form-control" [class.form-control-success]="login.valid" type="password" id="senha" 
            [(ngModel)]="usuario.senha" name="senha" #senha="ngModel" placeholder="Senha" required>

            <div [hidden]="senha.valid || senha.pristine">
                    <small [ngClass]="{'form-control-danger': 'senha.invalid || senha.drity',
                                'form-control-feedback': 'senha.invalid || senha.drity'}">A senha é um campo obrigatório!</small>
                </div>
        </div>
     </div>


      <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Perfil do Usuário *</label>
            </div>
            <select id="perfil" [(ngModel)]="usuario.perfilId" name="perfil" #tipo="ngModel">
                 <option class="form-control" value="" selected>Selecione um perfil</option>
                 <option class="form-control" *ngFor="let item of perfis" [value]="item.perfilId">{{item.descricao}}</option>
            </select>              
      </div>      

      <button class="btn" type="submit" [disabled]="formulario.form.invalid">Cadastrar</button>
  </form>
</div>