<p>
  perfil works!
</p>

<h3 class="container col-6">
  Cadastro de Perfil
</h3><form (ngSubmit)="enviarDados()" #cadastro="ngForm">
<div class="card container col-6">
  <form class="card-block" (ngSubmit)="enviarDados()" *ngIf="! enviado" #formulario="ngForm">
      <div class="form-group" [class.has-success]="descricao.valid" [class.has-danger]="descricao.invalid">
          <label for="descricao">Descrição do Perfil:</label>
          <input class="form-control" [class.form-control-success]="descricao.valid" type="text" id="descricao"
          [(ngModel)]="perfil.descricao" name="descricao" #descricao="ngModel" placeholder="Descrição" required>

          <div [hidden]="descricao.valid || descricao.pristine">
              <small [ngClass]="{'form-control-danger': 'descricao.invalid || descricao.drity',
                             'form-control-feedback': 'descricao.invalid || descricao.drity'}">A descricao do perfil é um campo obrigatório!</small>
          </div>
      </div>

      <button class="btn" type="submit" [disabled]="formulario.invalid">Cadastrar</button>
  </form>
</div>

<div class="card card-block container col-6" *ngIf="enviado">
  <div>
      <h2>Perfil Enviado!</h2>
  </div>

  <div>
      <p>Id do Perfil: <strong>{{_perfilId}}</strong></p>
  </div>

  <div>
      <p>Descrição do Perfil: <strong>{{_descricao}}</strong></p>
  </div>

  <button (click)="voltar()">Voltar</button>
</div>