<br>
<h3> Lista de Perfis </h3>

<div class="row justify-content-start">
  <div class="col-9">
      <table class="table">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Descrição</th>

              </tr>

          </thead>

          <tbody>
              <tr [ngStyle]="{'cursor': 'pointer'}" ngInit="listarPerfis()" *ngFor="let item of listaPerfis, let i = index">
                  <th scope="row">{{item.perfilId}}</th>
                  <td>{{item.descricao}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>